
a {
  text-decoration: none;
}

.right {
  text-align: right;
  font-weight: normal;
  font-size: 14px;
}

.sideByside {
  display: inline-block;
  width: 49%;
}

#content {
  background-color: lavenderblush;
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  color: black;
  background-color: lavender;
  border: 2px solid thistle;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 7px;
  font-weight: bold;
}

h3 {
  text-align: left;
  color: black;
  border-bottom-style: solid;
  border-width: thin;
  border-color: black;
  margin: 7px 25px;
  font-size: 18px;
}

h4 {
  text-align: left;
  color: black;
  margin: 2px 35px;
  font-size: 16px;
}

h5 {
  text-align: center;
  color: black;
  margin: 5px;
  font-weight: lighter;
  padding: 0px;
}

p {
  margin: 2px 0px;
  font-size: 14px;
}

ul {
  margin: 1px;
  padding: 1px 50px;
  font-size: 14px;
}
