
a {
  text-decoration: none;
}

#content {
  background-color: ghostwhite;
}

h1 {
  text-align: center;
  color: black;
  background-color: lavender;
  border: 2px solid thistle;
  margin-top: 10px; 
  padding: 7px;
  font-weight: bold;
}

h3 {
  text-align: left;
  color: black;
  border-bottom-style: solid;
  border-width: thin;
  border-color: black;
  margin: 7px 25px;
  font-size: 18px;
}

h4 {
  text-align: left;
  color: black;
  margin: 2px 35px;
  font-size: 16px;
}

h5 {
  text-align: center;
  color: black;
  margin: 5px;
  font-weight: lighter;
}

p {
  margin: 2px 35px;
  font-size: 14px;
}

ul {
  margin: 1px;
  padding: 1px 35px;
}
